<div class="card-body">

  <div class="row content">
    <div class="col-12 col-sm-12 col-md-2 text-center">
      <img class="img-responsive" src=<%= line_item.product.image_url %> alt="prewiew" width="100" height="100">
    </div>
    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
      <h5 class="product-name"><strong><%= line_item.product.title %></strong></h5>
      <h4 class="lineItemsDescription text-justify">
        <%= line_item.product.description %>
      </h4>
    </div>
    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
      <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
        <h6 id='totlin_<%= line_item.id %>'>$<%= line_item.total_price %> </h6>
        <span class="text-muted" id='quantity_<%= line_item.id %>'>x <%= line_item.quantity %></span>
      </div>

      <div>
        <%= button_to " + ", increase_line_item_path(product_id: line_item.product), remote: true, class: "btn-xs btn-block", method: :put %>
        <br>
        <%= button_to " - ", decrease_line_item_path(product_id: line_item.product), remote: true, class: "btn-xs btn-block", method: :put %>
      </div>

      <div class="col-2 col-sm-2 col-md-2 text-right">
        <%= button_to t('.delete'), line_item_path(id: line_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-xs btn-sm" %>
      </div>

    </div>
  </div>

</div>
<hr/>
