<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item <%= 'active' if current_page?(catalog_index_path) %>">
      <a class="nav-link" id="store_navbar" href='<%= catalog_index_path %>'><%= t('.store') %></a>
    </li>
    <li class="nav-item <%= 'active' if request.fullpath.start_with?("/en/carts") | request.fullpath.start_with?("/de/carts") %>">
      <a class="nav-link" id="cart_navbar" href='<%= carts_path %>' id="cartLink"><%= t('.cart') %></a>
    </li>
    <li class="nav-item <%= 'active' if request.fullpath.starts_with?('/about') %>">
      <a class="nav-link" id="about_navbar" href='<%= about_path %>'><%= t('.about') %></a>
    </li>
    <a class="navbar-separator">|</a>
    <!--restricted access for admin without translation-->
    <% if session[:user_id] %>
      <li class="nav-item <%= 'active' if current_page?(products_path) %>">
        <a class="nav-link" href='<%= products_path %>'>Products</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(orders_path) %>">
        <a class="nav-link" href='<%= orders_path %>'>Orders</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(users_path) %>">
        <a class="nav-link" href='<%= users_path %>'>Users</a>
      </li>
    <% end %>
  </ul>

  <!--right side menu-->
  <ul class="navbar-nav ml-auto">
    <!--    language-->
    <%= form_tag catalog_index_path, class: 'locale' do %>
      <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
                     onchange: 'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$('.locale input').hide()" %>
    <% end %>
    <!--    show only if logged in-->
    <% if session[:user_id] %>
      <%= link_to "Log out", logout_path, class: "nav-link", method: :delete %>
    <% end %>
  </ul>
</nav>
