<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:head) ? yield(:head) : "eShop" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<script src="https://use.fontawesome.com/c560c025cf.js"></script>

<!--common header-->
<div class="jumbotron">
  <div class="container text-center">
    <h1>Online Store</h1>
    <p>Mission, Vission & Values</p>
  </div>
</div>

<!--menu bar-->
<%= render partial: "layouts/navbar" %>

<!--emphasized notice message-->
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<!--customized content-->
<%= yield %>

<!--common footer-->
<div class="footer">
  <p>
    Vindimian & Loparev
    <br>
    SoSe 2018
  </p>
</div>
</body>
</html>
