<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:head) ? yield(:head) : "eShop" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<script src="https://use.fontawesome.com/c560c025cf.js"></script>

<!--<div class="jumbotron">-->
<!--  <div class="container text-center">-->
<!--    <h1>Online Store</h1>-->
<!--    <p>Mission, Vission & Values</p>-->
<!--  </div>-->
<!--</div>-->

<!--common header-->
<%= render partial: "layouts/carusel" %>

<!--menu bar-->
<%= render partial: "layouts/navbar" %>

<!--emphasized notice message-->
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<!--customized content-->
<%= yield %>

<!--common footer-->
<!--<footer class="container-fluid text-center">-->
<!--  <p>-->
<!--    Vindimian & Loparev-->
<!--    <br>-->
<!--    SoSe 2018-->
<!--  </p>-->
<!--</footer>-->
<div class="footer">
  <p>
    Vindimian & Loparev
    <br>
    SoSe 2018
  </p>
</div>
</body>
</html>
